Node Red/DeconzMediaPlayerTradfriRemote.json
[{"id":"8492b655.057338","type":"tab","label":"Media","disabled":false,"info":""},{"id":"71bdfcf6.0589d4","type":"deconz-input","z":"8492b655.057338","name":"Tradfri Remote - Lounge","server":"cf1f228.39c8ee","device":"00:0d:6f:ff:fe:59:7b:db-01-1000","device_name":"Media Remote : ZHASwitch","topic":"","state":"0","output":"always","outputAtStartup":false,"x":170,"y":100,"wires":[["ca556af2.f93ce8"],[]]},{"id":"8199ff3c.d9cc9","type":"debug","z":"8492b655.057338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":540,"wires":[]},{"id":"ca556af2.f93ce8","type":"switch","z":"8492b655.057338","name":"Button Events","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"5002","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":340,"y":220,"wires":[["f3fa7969.ab5088"],["dcad846b.cdb9c8"],["9098fc99.fb02"],["e2763d70.68f0c"],["86fe2796.0ff468"],[]]},{"id":"f3fa7969.ab5088","type":"change","z":"8492b655.057338","name":"Set PlayPause","rules":[{"t":"set","p":"service","pt":"msg","to":"media_play_pause","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":140,"wires":[["3204a9ab.dbe256"]]},{"id":"9098fc99.fb02","type":"change","z":"8492b655.057338","name":"Set Volume Down","rules":[{"t":"set","p":"service","pt":"msg","to":"volume_down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":220,"wires":[["3204a9ab.dbe256"]]},{"id":"dcad846b.cdb9c8","type":"change","z":"8492b655.057338","name":"Set Volume Up","rules":[{"t":"set","p":"service","pt":"msg","to":"volume_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["3204a9ab.dbe256"]]},{"id":"86fe2796.0ff468","type":"change","z":"8492b655.057338","name":"Set Next Track","rules":[{"t":"set","p":"service","pt":"msg","to":"media_next_track","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["3204a9ab.dbe256"]]},{"id":"e2763d70.68f0c","type":"change","z":"8492b655.057338","name":"Set Previous","rules":[{"t":"set","p":"service","pt":"msg","to":"media_previous_track","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":260,"wires":[["3204a9ab.dbe256"]]},{"id":"af65e92c.e62ad8","type":"link out","z":"8492b655.057338","name":"Media Player Control Out","links":["650f5336.fe335c"],"x":965,"y":220,"wires":[]},{"id":"650f5336.fe335c","type":"link in","z":"8492b655.057338","name":"Media Player Control In","links":["af65e92c.e62ad8"],"x":75,"y":540,"wires":[["f47bdfe3.0e6ba"]]},{"id":"f47bdfe3.0e6ba","type":"api-call-service","z":"8492b655.057338","name":"Call Service","server":"c2d3fd73.8aec9","version":1,"debugenabled":false,"service_domain":"media_player","service":"{{service}}","entityId":"{{player}}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":540,"wires":[["8199ff3c.d9cc9"]]},{"id":"3204a9ab.dbe256","type":"change","z":"8492b655.057338","name":"Set Player","rules":[{"t":"set","p":"player","pt":"msg","to":"media_player.squeezebox_touch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":220,"wires":[["af65e92c.e62ad8"]]},{"id":"cf1f228.39c8ee","type":"deconz-server","z":"","name":"Phoscon-GW","ip":"192.168.2.21","port":"8181","apikey":"","ws_port":"8443","secure":false,"polling":"15"},{"id":"c2d3fd73.8aec9","type":"server","z":"","name":"Home Assistant PF","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]